@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

*,
html {
    max-width: 100vw;
    top: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(232, 203, 197);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAV */
.header {
    background: #333;
    color: #e8cbc5;
    padding: 10px 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: #e8cbc5;
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-container a img {
    width: 100px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #e8cbc5;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    transition: all 0.4s linear;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    background: rgb(232, 203, 197, 0.2);
    border-radius: 5px;
}

.menu-icon {
    display: none;
}
#menu-btn{
    display: none;
}

#section1 {
    width: 100vw;
    margin-top: 100px;
}

#header1 {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header1 img {
    width: 30%;
}

.container {
    color: #333;
    margin: 20px;
}

form {
    width: 700px;

}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(51, 51, 51);
    color: #e8cbc5;
    align-items: center;
}

#contenedor-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    grid-template-areas: "redesSociales datos mapa";
    padding: 15px;
    margin: 10px;
}

#redesSociales {
    grid-area: redesSociales;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#redesSociales img {
    width: 200px;
}

#datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#datos ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#datos ul li {
    margin-top: 5px;
    list-style-type: none;
}

#mapa {
    grid-area: mapa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#mapa iframe {
    width: 80%;
    max-height: 200px;
    margin-left: 15px;
}

#iconos a {
    color: #e8cbc5;
    font-size: 20px;
    text-decoration: none;
}


@media all and (max-width:425px) {


    .footer {
        width: 100%;
        justify-items: stretch;
    }

    #contenedor-footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: "redesSociales""datos";
        flex-direction: column;
        padding: 15px;
        margin: 10px;
        row-gap: 10px;
    }

    #datos ul {
        justify-content: center;
        align-items: center;
    }

    #mapa {
        display: none;
    }

    #descripcion {
        font-size: 20px;
    }
}

@media only screen and (max-width:768px) {

    .navigation {
        width: 100vw;
        margin-top: 1rem;
        position: absolute;
        margin-top: 55px;
        margin-left: -110%;
        transition: all 0.5;
    }

    .navigation ul {
        display: block;
        flex-direction: column;
        right: 0;
        background: #333;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        color: #e8cbc5;
        font-family: 'Syncopate', sans-serif;
        font-weight: bold;
        transition: all 0.4s linear;
        text-decoration: none;
        text-align: center;
    }

    nav ul li a:hover {
        background: rgb(232, 203, 197, 0.2);
        border-radius: 5px;
    }
    #menu-btn{
        display: none;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    #menu-btn:checked ~ .navigation{
        margin-left: 0%;
    }
}