/* colors:
rosa: rgb(232,203,197)
naranja: rgb(171,110,82)
verde: rgb(27,68,52)
gris: rgb(51,51,51) */
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

*,
html {
    right: 0;
    top: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(232, 203, 197);

}

/* nav */

.header {
    background: #333;
    color: #e8cbc5;
    padding: 10px 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.header a {
    color: #e8cbc5;
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-container a img {
    width: 100px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #e8cbc5;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    transition: all 0.4s linear;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    background: rgb(232, 203, 197, 0.2);
    border-radius: 5px;
}

.menu-icon {
    display: none;
}
#menu-btn{
    display: none;
}

/* HEADER */

#head-foto {
    position: relative;
    width: 100%;
    background-color: rgb(51, 51, 51);
    margin-bottom: 20px auto;
    z-index: -1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#head-foto img {    
    width: 100%;
}
/* HEAD */
#head {
    display: flex;
    justify-content: center;
    font-family: 'Syncopate', sans-serif;
    align-items: center;
    color: rgb(51, 51, 51);
    padding: 15px;
    font-weight: lighter;
    font-size: 42px;
}

/* SECCIONES */
#secciones {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    justify-content: center;
}

#item1 {
    background: #ab6e52;
}

#item2 {
    background: #333333;
}

#item3 {
    background: #1b4434;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 30%;
    height: 200px;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #e8cbc5;
    font-size: 32px;
    font-family: 'Syncopate', sans-serif;
}

/* MISION */
#mision,
#vision {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    color: rgb(51, 51, 51);
}

#texto-mision {
    padding: 10px;
    color: rgb(51, 51, 51);
}

#texto-vision {
    padding: 10px;
    color: rgb(51, 51, 51);
}

#transicion1 {
    position: relative;
    grid-column: x0/x1;
    grid-row: y2/y3;
    display: flex;
    justify-content: center;
    padding: 0;
}

#transicion2 {
    position: relative;
    grid-column: x2/x3;
    grid-row: y3/y4;
    display: flex;
    justify-content: center;
    padding: 0;
}

.imagen-contenedor img {
    width: 350px;
    height: auto;
}

.transition {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0, 7s ease;
}

.transition:hover {
    opacity: 1;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(51, 51, 51);
    color: #e8cbc5;
    align-items: center;
    width: 100%;
}

#contenedor-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    grid-template-areas: "redesSociales datos mapa";
    padding: 15px;
    margin: 10px;
}

#redesSociales {
    grid-area: redesSociales;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#redesSociales img {
    width: 70%;
}

#datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#datos ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#datos ul li {
    margin-top: 5px;
    list-style-type: none;
}

#telefonos {
    margin-left: 10px;
}

#mapa {
    grid-area: mapa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#mapa iframe {
    width: 80%;
    max-height: 200px;
    margin-left: 15px;
}

@media (max-width:425px) {

    #secciones{
        flex-direction: column;
    }
    .item{
        width: 100%;
        height: 30px;
        margin: 10px 10px;
    }
    #mision{
        flex-direction: column;
        align-items: center;
    }
    #texto-mision {
        margin-top: 10px;
        border: 1px #ab6e52 solid;
    }
    #vision{
        flex-direction: column-reverse;
        align-items: center;
    }
    #texto-vision {
        margin-top: 10px;
        border: 1px #ab6e52 solid;
    }
    *{
        text-align: center ;
    }
    .footer {
        width: 100%;
        justify-items: stretch;
    }

    #contenedor-footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: "redesSociales""datos";
        flex-direction: column;
        padding: 15px;
        margin: 10px;
        row-gap: 10px;
    }

    #datos ul {
        justify-content: center;
        align-items: center;
    }

    #mapa {
        display: none;
    }

    #descripcion {
        font-size: 20px;
    }
}

@media (max-width:768px) {

    #head {
        font-size: 28px;
    }

    .navigation {
        width:100%;
        margin-top: 1rem;
        position: absolute;
        margin-top: 55px;
        margin-right: -110%;
        transition: all 0.5;
    }

    .navigation ul {
        display: block;
        flex-direction: column;
        right: 0;
        background: #333;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        color: #e8cbc5;
        font-family: 'Syncopate', sans-serif;
        font-weight: bold;
        transition: all 0.4s linear;
        text-decoration: none;
        text-align: center;
    }

    nav ul li a:hover {
        background: rgb(232, 203, 197, 0.2);
        border-radius: 5px;
    }
    #menu-btn{
        display: none;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    #menu-btn:checked ~ .navigation{
        margin-right: 0%;
    }

}